.App {
  text-align: center;
}

.App-logo {
  height: 9vw;
  width: 7vw;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Star {
    animation: Star-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@font-face {
  font-family: "edmunds_distressed-webfont";
  src:  url("../src/Components/fonts/edmunds/edmunds_distressed-webfont.woff") format("woff"),
        url("../src/Components/fonts/edmunds/edmunds_distressed-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "riogrande-webfont";
  src:  url("../src/Components/fonts/carnaval/riogrande-webfont.woff") format("woff"),
        url("../src/Components/fonts/carnaval/riogrande-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cowboy_movie-webfont";
  src:  url("../src/Components/fonts/cowboy/cowboy_movie-webfont.woff") format("woff"),
        url("../src/Components/fonts/cowboy/cowboy_movie-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "saddlebag-webfont";
  src:  url("../src/Components/fonts/saddlebag/saddlebag-webfont.woff") format("woff"),
        url("../src/Components/fonts/saddlebag/saddlebag-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.Titre-Header {
  position: absolute;
  /* display: "flex"; */
  justify-content: "center";
  align-items: "center";
  font-size: 25vw;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.Titre-Header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.Titre-Header:hover::after {
  transform: scale(1);
}

.Competences {
  font-family: "saddlebag-webfont";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: #402218;
  transition-duration: 0.5s
}

.img {
  width: 3vw;
  margin-right: 5;
  transition: opacity 1s ease-out;
  opacity: 0;
}

.Competences:hover .img {
  display: block;
  /* visibility: visible; */
  opacity: 1;
}